.custom-card {
  border: 1px solid #E2E8F0;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 20px;
  width: 600px;
  max-width: 100vw;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nome-aluno {
  color: #1A2856;
  font-size: 16px;
}

.small-date {
  color: #64748B;
  font-size: 14px;
}
