@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.menu-certificado {
  max-width: 800px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.btn-voltar {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  padding: 8px 16px;
  height: 40px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 14px;
  transition: background-color 0.2s ease;
}

.btn-voltar:hover {
  background-color: #1a285692;
}

.btn-voltar p {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #353535;
  margin: 0;
}

.btn-voltar i {
  font-size: 20px;
  color: #353535;
}

.certificado {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 32px;
  background-image: url("../../../../public/certificate/certificate_bg.png");
  width: 800px;
  height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 12px;

}

.conteudo-certificado {
  position: relative;
  width: 720px;
  height: 470px;
  background-color: rgba(255, 255, 255, 0.649); 
  border-radius: 8px;
}


.conteudo-certificado p {
  margin: 0;
}

.icone-medalha {
  z-index: 1;
  position: absolute;
  top: 12px;
  left: 12px;
}

.info-certificado {
  margin: 64px 40px 48px 40px;
  gap: 20px;
}

.titulo-subtitulo-certificado h1 {
  text-align: center;
  font-weight: 900;
  font-size: 24px;
  line-height: 160%;
  letter-spacing: 2.4px;
  color: #1a2856;
}

.titulo-subtitulo-certificado p {
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: 0;
  text-align: center;
  margin: 0;
  color: #121621;
}

.nome-aluno {
  font-family: "Dancing Script";
  font-weight: 700;
  font-size: 52px;
  line-height: 80px;
  letter-spacing: 0;
  text-align: center;
  color: #192b67;
}

.lista-atividade {
  width: 80%; /* ou 100% se quiser ocupar toda a largura */
  text-align: justify;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #364262;
}

.lista-atividade-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.lista-atividade-titulo {
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: 0;
  text-align: center;
  color: #121621;
  
}

.lista-atividade {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0;
  text-align: center;
  color: #121621;
}

.data-emissao {
  color: #121621;
  font-weight: 700;
  font-size: 11.2px;
  line-height: 160%;
  letter-spacing: 0;
  text-align: center;
}

.img-assinatura {
  position: absolute;
  right: 40px;
  bottom: 24px;
  width: 64px;
  height: 64px;
}
